/*input[type="text"],
input[type="password"],
input[name="phone"] {
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
}
*/

input[type="submit"]:hover {
    background-color: #F56107;
}